.product-color-picker-modal {
    .custom-color-picker {
        display: flex;

        .custom-color-picker-item-one {
            width: 15px;
            height: 15px;
            border: 1px solid #595959;
            border-radius: 50%;
        }

        .custom-color-picker-item-two {
            width: 20px;
            height: 20px;
            border: 1px solid #595959;
            border-radius: 50%;
        }

        .color-picker-clicked {
            border: 1px solid #FFF;
            box-shadow: 0 0 0 2pt #00859B;
        }
    }
}